#add_user_group{
        width:450px; 
        min-height:250px; 
        margin-left:10px; 
        margin-top:10px; 
        float:left;
        border: #DDD solid 1px;
        box-shadow: 0 0 5px black; /* Параметры тени */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
        -webkit-box-shadow: 0px 3px 20px rgba(0,0,0,0.2); /* Для Safari и Chrome */
         color:#06F;
         font-family: tahoma;
        }
        
div#add_user_group div#title_add_user_group{
    
        height:20px;
        line-height:20px;
       	font-family: Tahoma;
    	font-size: 16px;
        font-weight: 600;
        padding-left:80px;
        border-bottom-color: #DDD;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
        }
div#add_user_group div#users{
        width:108px; 
        min-height:230px; 
        padding:10px 10px 10px 10px;
        float:left;}
div#add_user_group div#groups{
        width:60px; 
        min-height:236px; 
        padding:10px 10px 10px 10px;
        float:left;
        }
div#add_user_group div#title_group_list{
        width:50px;
        }
div#add_user_group div#roles{
        width:104px; 
        min-height:236px; 
        padding:10px 10px 10px 10px;
        float:left;
        }
div#add_user_group div#title_roles_list{
        width:50px;
        }
div#add_user_group_button{
    margin-left:15px;
    margin-top:20px;
    width:80px;
    float:left;
}
div#add_user_group_button input{
    background-color:#DDD;
    border:1px #DDD solid;
    width:80px;
    float:left;
    line-height:20px;
    cursor:pointer;
}
div#add_user_group_status{
    margin-top:20px;
    width:108px;
    float:left;
}